* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}

.container {
  height: 90px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.container .logo {
  display: flex;
}

.container .logo img {
  width: 200px;
}

.container nav {
  padding: 15px;
  display: flex;
}

.container nav a {
  margin-left: 40px;
  padding-bottom: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.container nav a:first-child {
  border-bottom: 2px solid #73D462;
}

.container nav a:hover {
  border-bottom: 2px solid #73D462;
}

.jumbo {
  width: 1110px;
  background-color: yellow;
  height: 400px;
  margin: 0 auto;
  margin-top: 150px;
  display: flex;
}

.jumbo .jumboLeft {
  width: 555px;
  background-color: red;
  height: 400px;
}

.jumbo .jumboRight {
  width: 555px;
  background-color: blue;
  height: 400px;
}

