* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}

.container {
  height: 90px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.container .logo {
  display: flex;
}

.container .logo img {
  width: 200px;
}

.container nav {
  padding: 15px;
  display: flex;
}

.container nav a {
  margin-left: 60px;
  padding-bottom: 25px;
  color: #1B3C59;
  text-decoration: none;
  text-transform: uppercase;
}

.container nav a:first-child {
  border-bottom: 2px solid #73D462;
}

.container nav a:hover {
  border-bottom: 2px solid #73D462;
}

.container nav .button {
  padding: 5px 20px;
  margin-left: 60px;
  background-color: #73D462;
  border-radius: 5px;
  border-style: none;
  color: white;
  text-transform: uppercase;
}

.jumbo {
  width: 1110px;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 100px;
  display: flex;
}

.jumbo .jumboLeft {
  width: 555px;
  background-color: white;
  color: #1B3C59;
  height: 400px;
  padding: 20px;
}

.jumbo .jumboLeft p {
  font-size: 55px;
  padding-bottom: 20px;
}

.jumbo .jumboLeft ul {
  padding: 15px;
}

.jumbo .jumboRight {
  width: 555px;
  height: 400px;
}

.jumbo .jumboRight img {
  width: 100%;
  margin: 0 auto;
  padding-top: 70px;
}

.containerP {
  width: 1110px;
  margin: 0 auto;
  color: #1B3C59;
  margin-top: 20px;
  margin-bottom: 50px;
}

.containerP .title {
  margin-top: 40px;
  padding: 20px 0;
}

.containerP .title h1 {
  margin-top: 50px;
  margin-bottom: 40px;
}

.containerP .text p {
  line-height: 1.5;
}

.containerP .text ul {
  margin-left: 30px;
}

.containerP .text ul li {
  line-height: 1.5;
}

.faqContainer {
  margin-top: 100px;
  color: #1B3C59;
}

.faqContainer .domandeFrequenti {
  line-height: 1.8;
  margin-bottom: 50px;
  width: 1110px;
  margin: 0 auto;
}

.faqContainer .faqSquare {
  display: flex;
}

.faqContainer .faqSquare .prima {
  width: 50%;
  padding: 3% 9%;
  background-color: #E8EBF1;
  color: #1B3C59;
}

.faqContainer .faqSquare .dopo {
  width: 50%;
  padding: 3% 9%;
  background-color: #1B3C59;
  color: white;
}

.faqContainer span:hover {
  cursor: pointer;
}

.faqContainer .rispostaLeft,
.faqContainer .rispostaRight,
.faqContainer .menoLeft,
.faqContainer .menoRight {
  display: none;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #1B3C59;
  color: white;
}

.footerContainer {
  padding-top: 50px;
  width: 1110px;
  margin: 0 auto;
}

.top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}

.top .left img {
  width: 200px;
}

.top .right {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 20px;
}

.top .right a {
  text-decoration: none;
  color: white;
  line-height: 1.5;
}

.top .right a:hover {
  text-decoration: underline;
}

.bottom {
  display: flex;
  justify-content: center;
  padding: 20px;
}

