.containerP {
  @include containerSize();
  color: $secondaryColor;
  margin-top: 20px;
  margin-bottom: 50px;
  .title {
    margin-top: 40px;
    padding: 20px 0;
    h1 {
      margin-top: 50px;
      margin-bottom: 40px;
    }
  }
  .text {
    p {
      line-height: 1.5;
    }
    ul {
      margin-left: 30px;
      li {
        line-height: 1.5;
      }
    }
  }

}
