.faqContainer {
  margin-top: 100px;
  color: $secondaryColor;
  .domandeFrequenti {
    line-height: 1.8;
    padding-bottom: 50px;
    @include containerSize();
  }
  .faqSquare {
    display: flex;
    .prima {
      width: 50%;
      padding: 3% 9%;
      background-color: #E8EBF1;
      color: $secondaryColor;
    }
    .dopo {
      width: 50%;
      padding: 3% 9%;
      background-color: $secondaryColor;
      color: $primaryColor;
    }
    span:hover {
      cursor: pointer;
    }
  }
  .domandaLeft, .domandaRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .slideLeft, .slideRight {
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
  }
  .rispostaLeft, .rispostaRight, .menoLeft, .menoRight {
    display: none;
  }
  .visible {
    display: block;
  }
  .hidden {
    display: none;
  }
}
