.jumbo {
  @include containerSize();
  margin-top: 150px;
  margin-bottom: 100px;
  display: flex;
  .jumboLeft {
    width: 555px;
    background-color: $primaryColor;
    color: $secondaryColor;
    height: 400px;
    padding: 20px;
    p {
      font-size: 55px;
      padding-bottom: 20px;
    }
    ul {
      padding: 15px;
    }
  }
  .jumboRight {
    width: 555px;
    height: 400px;
    img {
      width: 100%;
      margin: 0 auto;
      padding-top: 70px;
    }
  }
}
